
/* Custom styles */

@import 'animation-splat';
@import 'animation-swoosh';
@import 'animation-smack';
@import 'animation-jelly';
@import "css/animate/animate.scss";


/*
* Splat animation for intro slide
*/

.present.intro {

	h1, h3, small {
		animation: splat 1000ms linear;
		animation-fill-mode: both;
	}

	h1 {
		animation-delay: 0.3s;
	}

	h3 {
		animation-delay: 0.4s;
	}

	small {
		animation-delay: 0.5s;
	}
}

.about-work {
	img {
		box-shadow: none !important;
		width: 50%;
	}
}

.present.about-nettuts img {
	animation-name: nettuts;
	animation-duration: 30s;
	animation-timing-function: linear;
}

@keyframes nettuts {
    from {transform: translateY(1%);}
	to {transform: translateY(-102%);}
}

.about-badge {
	img {
		width: 20%;
		border: 0 !important;
		background: none !important;
	}
}

.about-talks {
	li {
		list-style-type: none;
		float: left;
		margin: 10px 30px;

		svg {
			width: 312px;
			height: 166px;
		}
	}

	img {
		outline: none !important;
		box-shadow: none !important;
		border: none !important;
		width: 300px;
	}
}

/*

.present.panel-intro .panel-intro-container img:last-child {
// animation: jelly 1000ms linear 1s both;
	transform: scale(1.4);
	box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.72);
// @include tada(
//     $duration: 1s,
//     $count: 1,
//     $delay: 2s,
//     $function: ease, 
//     $fill: both
//   );
}

*/

.panel-intro-dom-tree {
	top: 98px;
	left: 82px;
	width: 670px;
	height: 448px;

	.present & {
		transform: scale(1.4);
		box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.72) !important;
	}
}

.panel-intro-styles-pane {
	top: 96px;
	left: 773px;
	width: 427px;
	height: 381px;

	.present & {
		transform: translateX(-240px) scale(1.5);
		box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.72) !important;
	}
}

.panel-intro-container {
	position: relative;
	img:last-child {
		position: absolute;
		margin: 0;
		padding: 0;
		box-shadow: none;
		border: none;
		transition: all 1s ease-out;
		transition-delay: 3s;

	}
}



/* Colouring for network explanation */

#colortable {
    width: 50%;
    border: none;
}

#colortable td {
    border: none;
}

.present.network-explanation {
	background-color: wheat;

	table {
		border-collapse: separate;
		border-spacing: 0 10px;
	}

	tr {
	}

	tr td:first-child {
		animation-name: swoosh;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-fill-mode: both;
	}

	td {
		color: black;
	}

	.network-explanation-doc {
	    background: rgba(47, 102, 236, 0.6);
	    width: 10%;
	    animation-delay: 0.5s;
	}

	.network-explanation-css {
	    background: rgba(157, 231, 119, 0.6);
	    width: 10%;
	    animation-delay: 0.6s;
	}

	.network-explanation-images {
	    background: rgba(164, 60, 255, 0.6);
	    width: 10%;
	    animation-delay: 0.7s;
	}

	.network-explanation-scripts {
	    background: rgba(255, 121, 0, 0.6);
	    width: 10%;
	    animation-delay: 0.8s;
	}

	.network-explanation-xhr {
	    background: rgba(231, 231, 10, 0.6);
	    width: 10%;
	    animation-delay: 0.9s;
	}

	.network-explanation-fonts {
	    background: rgba(255, 82, 62,0.6);
	    width: 10%;
	    animation-delay: 1.0s;
	}

	.network-explanation-other {
	    background: rgba(187, 187, 188, 0.6);
	    width: 10%;
	    animation-delay: 1.1s;
	}
}

.bye img {
	width: 500px;
}